extends ../default

block main
  - var sections = [];
  - sections.push(['Introduction', ['Overview', 'Installation', 'Resources']]);
  - sections.push(['Protocols', ['Overview']])
  - sections.push(['Resources', ['Overview']])
  - sections.push(['Dispatch', ['Overview']])
  - sections.push(['Services', ['Overview']])
  - sections.push(['Tests', ['Overview']])
  - function toSlug(str) { return str.toLowerCase().replace(' ', '-'); }
  - function guideLink(section, subsection) { return '/guide/' + toSlug(section) + '/' + toSlug(subsection);}

  .Guide
    .Guide-sidenav
      ul.Guide-sidenav-links
        each section in sections
          li.Guide-sidenav-link
            .Guide-sidenav-link-text
              a.Guide-sidenav-link-anchor(href=guideLink(section[0], section[1][0]))= section[0]
            ul.Guide-sidenav-sublinks
              each subsection in section[1]
                li.Guide-sidenav-sublink
                  a.Guide-sidenav-sublink-anchor(href=guideLink(section[0], subsection))= subsection

    .Guide-content
      block content
